
/*! header */

.hero {
	padding: 0px 20%;
}

.logo {
	min-width: 400px;
	height: auto;
	padding: 10%;
	position: absolute;
}

#header {
	background-image: url("../images/places.png");
	background-color: white;
	min-width: 100%;
	min-height: 200px;
}