
/*! header */

.hero {
	padding: 0;
}

.logo {
	min-width: 100px;
	max-width: 1	00px: 
	height: auto;
	padding: 10%;
	position: absolute;
}

#header {
	background-image: url("../images/places.png");
	background-color: white;
	min-width: 100%;
	min-height: 400px;
}

#photos {

}